<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @diary.title %>
</p>

<p>
  <b>User:</b>
  <%= @diary.user_id %>
</p>

<p>
  <b>Comment:</b>
  <%= @diary.comment %>
</p>


<%= link_to 'Edit', edit_schedule_diary_path(@schedule, @diary) %> |
<%= link_to 'Back', schedule_diaries_path(@schedule) %>
