<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @diary.title %>
</p>

<p>
  <b>User:</b>
  <%= @diary.user_id %>
</p>

<p>
  <b>Comment:</b>
  <%= @diary.comment %>
</p>


<%= link_to 'Edit', edit_diary_path(@diary) %> |
<%= link_to 'Back', diaries_path %>
