<h1>Schedule</h1>

<div align="center">
	<table width="600">
<table>
  <tr>
    <th>Title</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Shop</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @schedules.each do |schedule| %>
  <tr>
    <td><%= link_to schedule.title, schedule %></td>
    <td><%= schedule.start_date %></td>
    <td><%= schedule.end_date %></td>
    <td><%= schedule.shop.name %></td>
    <td><%= link_to '更新', edit_schedule_path(schedule) %></td>
    <td><%= link_to '削除', schedule, :confirm => 'ホントに削除する?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Scheduleを追加', new_schedule_path %>
