<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @schedule.title %>
</p>

<p>
  <b>Start date:</b>
  <%= @schedule.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @schedule.end_date %>
</p>

<p>
  <b>Shop:</b>
  <%= @schedule.shop_id %>
</p>

	<div>
		<%= link_to '日記を書く', new_schedule_diary_path(@schedule) %>
	</div>

<br>
	<div>
		みんなの日記
		<% if @schedule.diaries %>
		  <% @schedule.diaries.each do |diary| %>
		    <li><%= diary.title %>
						<%= diary.user_id %>
						<%= diary.comment %>
		        <%= diary.created_at.strftime("%m/%d") %>
	      </li>
	    <% end %>
		<% end %>
	</div>

<br>
<%= link_to 'TopPage', root_menu_path %>
