<%= stylesheet_link_tag "schedule" %>
<p id="notice"><%= notice %></p>

<div id='title'>
  <%= @schedule.title %>
</div>

<div id='date'>
  <%= @schedule.start_date.strftime("%Y/%m/%d") %> -
  <%= @schedule.end_date.strftime("%m/%d") %>
</div>

<div id='shop'>
  ＠
  <%= @schedule.shop.name %>
</div>

<div>
		<%= image_tag('/images/p03.gif', :height => '35px') %>	<%= image_tag('/images/p03.gif', :height => '35px') %>
</div>

	<div>
		<%= link_to '日記を書く', new_schedule_diary_path(@schedule) %>
	</div>

<br>
	<div>
		<% if @schedule.diaries %>
		  <% @schedule.diaries.each do |diary| %>
				<table width="350" bgcolor="#CCFFCC">
				<tr>
				<td style="border-style:dashed; border-color:#ffffff; border-width:2px;">
			    <%= diary.title %>
					<%= diary.user.name %>
	        <%= diary.created_at.strftime("%m/%d-%H:%M") %>
					<br>
					<%= diary.comment %>
				</td></tr></table>
	    <% end %>
		<% end %>
	</div>

<br>
<%= link_to 'TopPage', root_menu_path %>
