<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false" %>

<script type="text/javascript">
//<![CDATA[
var map;
var marker;
function init_map() {
  var stylez = [
    {
      featureType: "road",
      elementType: "geometry" 
    },
    {
      featureType: "landscape",
      elementType: "geometry"
    }
  ];

  var pos = new google.maps.LatLng(35.658613, 139.745525);
  var mapOptions = {
    zoom: 15,
    center: pos
  };

  //HTMLに地図を表示する。 
  map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

  var base = document.getElementById('schedule_shop_address').value;
  getcode(base, pos, marker);

  var styledMapOptions = {
    map: map,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    name: "mapit"
  };

  var jayzMapType = new google.maps.StyledMapType(stylez, styledMapOptions);
  map.mapTypes.set('mapit', jayzMapType);
  map.setMapTypeId('mapit');

}

// 緯度、経度を取得する
function getcode(base, pos, marker) { 

  if (base == '' || base  == null) { 
    default_geo(pos);
  }
  
  var geocoder = new google.maps.Geocoder();
  var name = document.getElementById('schedule_shop_name').value;
  geocoder.geocode( {'address': base }, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      map.setCenter(results[0].geometry.location);
      marker = new google.maps.Marker({
        map: map,
        title: name, 
        position: results[0].geometry.location
      });
       //マーカをクリックしたらふきだしを出す。
      var contentstring = makeContent(name);
      var infowindow = new google.maps.InfoWindow({
        content: contentstring
      });
    } else {
      deafult_geo(pos, marker);
    }
  
    google.maps.event.addListener(marker, 'click', function(){
      infowindow.open(map, marker);
    });
    infowindow.open(map, marker);
  });
}

//default値を表示する
function default_geo(pos, marker) {
  marker = new google.maps.Marker({
    position: pos,
    map: map,
    title: name 
  });
}

//吹き出しの中身
function makeContent(name) {
  var title = document.getElementById('schedule_title').value;
  var date = document.getElementById('schedule_start_date').value;
  var url = document.getElementById('schedule_shop_url').value;
 
    
  var content = '<h2>' + title + '</h2> <br/>' +
    '実施日:' + date + '<br/>' +
    '場所:' + '<a href="'+ url + '">' + name + '</a> <br/>' +
    '<input type="submit" value="日記へ" onclick="next()">';

   return content;
}


function next() {
  document.getElementByName('commit').click();
}

//]]>
</script>

<%= form_for(@schedule) do |f| %>
  <div style="display:none;">
  <%= submit_tag %>
  </div>
  <%= f.hidden_field :title %>
  <%= f.hidden_field :start_date %>
  <%= f.fields_for @schedule.shop do |sf| %>
    <%= sf.hidden_field :name %>
    <%= sf.hidden_field :url %>
    <%= sf.hidden_field :address %>
  <% end %>

<% end %>
<div id="map_canvas"> </div>

<script language="javascript">
  //地図を表示する。
  window.onload=init_map();
</script> 

