<% @javascripts += ['http://maps.google.com/maps/api/js?sensor=false', 'root/menu'] %>

<%= form_for(@schedule) do |f| %>
  <div style="display:none;">
  <%= submit_tag %>
  </div>
  <%= f.hidden_field :id %>
  <%= f.hidden_field :title %>
  <%= f.hidden_field :start_date %>
  <%= f.fields_for @schedule.shop do |sf| %>
    <%= sf.hidden_field :name %>
    <%= sf.hidden_field :url %>
    <%= sf.hidden_field :address %>
  <% end %>

<% end %>
<div id="map_canvas"> </div>

