<!DOCTYPE html>
<html>
	
<head>
	<meta content="text/html;charset=UTF-8" http-equiv="content-type" />
  <title>Minami.rb cafe diary</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>

<body>
	<div id="header">
		<%= link_to image_tag('minamirbcafediary.gif', :height => '80px'), root_path, :id => 'logo' %>
	</div>
	
	<div id="side">
                <div id="toplink">
                        <%= link_to image_tag('/images/birdcage.gif'), root_menu_path %>
                        <%= link_to 'Top Page', root_menu_path %>
                </div>

		<div id="menu1" align="center">
			<br>
			<br>
			<td><%= Date.today %></td>
			<table cellspacing="0" >
			<tr>
			  <% @calendar_wdays.each do |wday| %>
			    <td><%= wday%></td>
			  <% end %>
			</tr>
			
			<% @calendar_days.each do |week| %>
			    <tr>
			      <% week.each do |day| %>
				<td><%= day%></td>
			      <% end %>
			    </tr>
			<% end %>
			
			

			</table>
		</div>

		<div id="menu2">
			最近追加された日記
		</div>

		<div id="menu3">
			管理用メニュー<br>
			<%= link_to_unless_current 'お店の編集', shops_path %><br>
			<%= link_to_unless_current 'スケジュールの編集', schedules_path %><br>
			<%= link_to_unless_current 'ユーザー登録', users_path %><br>
		</div>
	</div>

	<div id="main">
		<%= yield %>
	</div>
<% @javascripts.each do |js| -%>
  <%= javascript_include_tag js %>
<% end -%>
</body>
</html>
